
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=/usr/share/icons/foobillardplus.png
Name=Foobillard++
Exec=/usr/games/foobillardplus/bin/foobillardplus
Comment=OpenGL Billiard Game
GenericName=OpenGL Billiard Game
