101 ICON "../data/foobillardplus.ico"
1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040704E4"
    BEGIN
      VALUE "CompanyName", "Holger Schaekel\0"
      VALUE "FileDescription", "An OpenGL Billiard Game\0"
      VALUE "FileVersion", "3.41beta\0"
      VALUE "InternalName", "Foobillard++\0"
      VALUE "LegalCopyright", "Copyright (c) 2011\0"
      VALUE "OriginalFilename", "foobillardplus.exe\0"
      VALUE "ProductName", "Foobillard++\0"
      VALUE "ProductVersion", "3.41beta\0"
    END
  END
END